<component name="ArtifactManager">
  <artifact type="exploded-war" name="app">

    <root id="root">
      <element id="dir-copy" path="$PROJECT_DIR$/web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="OnlineLearningPlatform" />
        </element>
      </element>
    </root>
  </artifact>
</component>