@charset "utf-8";

.modal{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    color: #fff;
    z-index: 999;
}
.modal label {
    display: block;
    margin-bottom: 10px;
}
.modal input[type="text"],
.modal input[type="submit"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}
.modal input[type="submit"] {
    background-color: #fff;
    color: #000;
    cursor: pointer;
}